<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div>
            <p>NAME: {{name}}</p>
            <p>PHONE: {{phone}}</p>
        </div>
    </body>
</html>