<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div>
            <ul>
                {{#each name}}
                <li>{{this}}</li>
                {{/each}}
                {{#each phone}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div>
            {{getTime}}
        </div>
    </body>
</html>